#profile-img {
    height:180px;
}

#toolbar-img {
    height:100px;
}

.h-80 {
    height: 80% !important;
}

h1,a,a.active {
    color:red;
}


#inserisci_post {
    background-color: #cce6ff;
    padding: 20px;
}

.card-footer {
    background-color: #cce6ff!important;
  }

#datiaccount{
    background-color: #cce6ff;
}

#personaggioPreferito{
    font-family:Quantico;
    font-size: 1.5em;
}